{% extends "quiz/layout.html" %}

{% block body %}

    <h2 class="m-3">Register</h2>

    {% if message %}
        <div class="mx-3 text-danger">{{ message }}</div>
    {% endif %}

    <form action="{% url 'quiz:register' %}" method="post" class="m-3">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            <input class="form-control my-1" type="email" name="email" placeholder="Email Address">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <input class="form-control mt-1 mb-3" type="password" name="confirmation" placeholder="Confirm Password">
            <input class="btn btn-primary" type="submit" value="Register">
        </div>
    </form>

    <div class="m-3">
        Already have an account? <a href="{% url 'quiz:login' %}">Log In here.</a>
    </div>

{% endblock %}